### Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px" color=red>
<font size = 3 color=blue>
  
# Python Lab 2: Basic Neural Networks
</font>
</color>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px" color=red>
<font size = 5 color=blue> 
Student Name:Adam Keske
</font>
</color>
</div>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px" color=red>

<font size = 3 color=red>
  
1. [Goal](#1_Goal)
2. [Source_Data](#2_Source_Data)
3. [Student Assignment](#3_Student_Assignment)
</font>
</color>
</div>

## 1_Goal

The goal(s) is/are to learn how to use Python to:

 1. Build a Basic Neural Network of your own.
 2.	Apply your Neural Net creation to Predicting Stroke.

## 2_Source_Data
*  Stroke Prediction
*  Dataset Link: https://www.kaggle.com/fedesoriano/stroke-prediction-dataset

In [70]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/adam/Desktop/healthcare-dataset-stroke-data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [71]:
df1 = df.drop(['id',
 'gender',
 'ever_married',
 'work_type',
 'Residence_type',
 'avg_glucose_level',
 'bmi'], axis=1)
df1

       age  hypertension  heart_disease   smoking_status  stroke
0     67.0             0              1  formerly smoked       1
1     61.0             0              0     never smoked       1
2     80.0             0              1     never smoked       1
3     49.0             0              0           smokes       1
4     79.0             1              0     never smoked       1
...    ...           ...            ...              ...     ...
5105  80.0             1              0     never smoked       0
5106  81.0             0              0     never smoked       0
5107  35.0             0              0     never smoked       0
5108  51.0             0              0  formerly smoked       0
5109  44.0             0              0          Unknown       0

[5110 rows x 5 columns]

In [110]:
df1['smoking_status'].replace({"formerly smoked": 1, "smokes": 1, "never smoked": 0}, inplace=True)
df1 = df1.replace('Unknown', np.nan)
df1 = df1.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3566 entries, 0 to 5108
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             3566 non-null   float64
 1   hypertension    3566 non-null   int64
 2   heart_disease   3566 non-null   int64
 3   smoking_status  3566 non-null   float64
 4   stroke          3566 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 167.2 KB

In [112]:
df1['age'].values[df1['age'].values > 65] = 1
df1['age'].values[df1['age'].values < 65] = 0
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3566 entries, 0 to 5108
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             3566 non-null   float64
 1   hypertension    3566 non-null   int64
 2   heart_disease   3566 non-null   int64
 3   smoking_status  3566 non-null   float64
 4   stroke          3566 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 167.2 KB

In [113]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

%matplotlib inline
y = df1.stroke

In [114]:
def init(inp, out):
    return np.random.randn(inp, out) / np.sqrt(inp)

def create_architecture(input_layer, first_layer, 
                        output_layer, random_seed=0):
    np.random.seed(random_seed)
    layers = X.shape[1], 3 , 1
    arch = list(zip(layers[:-1], layers[1:]))
    weights = [init(inp, out) for inp, out in arch]
    return weights

In [115]:
def sigmoid(z):
    return 1/(1 + np.exp(-z))

def sigmoid_prime(s):
    return s * (1 -s)

In [116]:
def feed_forward(X, weights):
    a = X.copy()
    out = list()
    for W in weights:
        z = np.dot(a, W)
        a = sigmoid(z)
        out.append(a)
    return out

In [117]:
def accuracy(true_label, predicted):
    correct_preds = np.ravel(predicted)==true_label
    return np.sum(correct_preds) / len(true_label)

In [123]:
def back_propagation(l1, l2, weights, y):
    l2_error = y.values.reshape(-1, 1) - l2
    l2_delta = l2_error * sigmoid_prime(l2)
    l1_error = l2_delta.dot(weights[1].T)
    l1_delta = l1_error * sigmoid_prime(l1)
    return l2_error, l1_delta, l2_delta

def update_weights(X, l1, l1_delta, l2_delta, weights, alpha=1.0):
    weights[1] = weights[1] + (alpha * l1.T.dot(l2_delta))
    weights[0] = weights[0] + (alpha * X.T.dot(l1_delta))
    return weights

In [124]:
def predict(X, weights):
    _, l2 = feed_forward(X, weights)
    preds = np.ravel((l2 > 0.5).astype(int))
    return preds

In [125]:
X, Xt, y, yt = train_test_split(df1, y,
                                test_size=0.30, 
                                random_state=0)

ValueError: Found input variables with inconsistent numbers of samples: [3566, 2496]

In [126]:
weights = create_architecture(X, 3, 1)

In [127]:
for j in range(30000 + 1):

    l1, l2 = feed_forward(X, weights)
    l2_error, l1_delta, l2_delta = back_propagation(l1, l2, weights, y)
    weights = update_weights(X, l1, l1_delta, l2_delta, weights, alpha=0.05)
    if (j % 5000) == 0:
        train_error = np.mean(np.abs(l2_error))
        print('Epoch {:5}'.format(j), end=' - ')
        print('error: {:0.4f}'.format(train_error), end= ' - ')
        
        train_accuracy = accuracy(true_label=y, predicted=(l2 > 0.5))
        test_preds = predict(Xt, weights)
        test_accuracy = accuracy(true_label=yt, predicted=test_preds)
        
        print('acc: train {:0.3f}'.format(train_accuracy), end= ' | ')
        print('test {:0.3f}'.format(test_accuracy))

Epoch     0 - error: 0.6080 - acc: train 0.057 | test 0.945
Epoch  5000 - error: 0.0573 - acc: train 0.943 | test 0.945
Epoch 10000 - error: 0.0573 - acc: train 0.943 | test 0.945
Epoch 15000 - error: 0.0296 - acc: train 0.943 | test 0.945
Epoch 20000 - error: 0.0294 - acc: train 0.943 | test 0.945
Epoch 25000 - error: 0.0293 - acc: train 0.943 | test 0.945
Epoch 30000 - error: 0.0293 - acc: train 0.943 | test 0.945